data/
data.zip
.Rproj.user
scripts/caseStudies/liu/resList.rds
scripts/caseStudies/fullard/lrtOut2.rds
scripts/caseStudies/fullard/*.pdf
scripts/caseStudies/calderon/*.pdf
scripts/caseStudies/calderon/*.rds
scripts/caseStudies/protocolData/*.rds
scripts/caseStudies/protocolData/*.pdf
scoresComputation*
simulationProcedure*
scripts/caseStudies/fullard/20200206_fullard2019CaseStudy_links*
