scripts/gcapc/211119_gcapcPeakCallingCalderon_scf.Rmd
scripts/gcapc/211119_gcapcPeakCallingCalderon.Rmd
data 2.zip
scripts/benchmark/210316_totalBenchmarkSummary_original.html
scripts/caseStudies/fullard/lrtOut3.rds
data/
data.zip
.Rproj.user
scripts/caseStudies/liu/resList.rds
scripts/caseStudies/fullard/lrtOut2.rds
scripts/caseStudies/fullard/*.pdf
scripts/caseStudies/calderon/*.pdf
scripts/caseStudies/calderon/*.rds
scripts/caseStudies/protocolData/*.rds
scripts/caseStudies/protocolData/*.pdf
scoresComputation*
simulationProcedure*
scripts/caseStudies/fullard/20200206_fullard2019CaseStudy_links*
